body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #00BFFF, #20B2AA, #f6ff75);
}

h1 {
    color: black;
}

header {
    width: 1250px;
    height: 60px;
    text-align: center;
}


button {
    width: 250px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    background-color: rgba(255, 254, 254, 0.8);
}

button:hover {
    transform: scale(1.05);

}

.container {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

a {
    list-style-type: none;
    text-decoration: none;
    outline: none;
}




.form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 254, 254, 0.8);
    padding: 90px;
    border-radius: 10px;
    color: black;

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 700px;
}

.title {
    margin-bottom: 15%;
    font-size: 230%;
}

.formInput {
    padding: 13px;
    border-radius: 15px;
    border: #6f7e8a solid;
    background-color: white;
    margin-bottom: 10%;
}

.formCheck {
    margin-top: 20%;
    color: black;
}

.formSubmit {
    margin-top: 7%;
    padding: 15px;
    border: #6f7e8a solid;
    width: 100%;
    border-radius: 15px;
}