.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-column-name {
    width: 300px;
}

.mat-column-phone {
    width: 300px;
}

.buttonsWrapper {
    display: flex;
    gap: 10px;
}

main {
    width: 800px;
}